<div class="row gx-1" style="height: 10vh; width: 100%; position: absolute; bottom: 0.1em">
    <div class="row" style="width: 100%">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark text-left" style="height: 10vh;">
            <div class="col" style="color: white">
                <img class="footer-logo-filter img-thumbnail" src="./../../public/assets/image/test-complete-logo.png" alt="">

            </div>
            <div class="col footer-sec" style="color: white"></div>

        </nav>
    </div>
</div>
