<div class="sticky-md-top">

        <div class="container-lg" style="height: 10vh;">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center" style="height: 7vh;">

                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="#">File Upload</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

            </nav>
        </div>

</div>